<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Micro desafio</title>
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />


</head>

<body>
    <header class="Main-header">
        <div class="main-header-top-bar">
            <div class="logo">
                <img src="./images/logo-mercado-liebre.svg" alt="">
            </div>
            <div class="form" action="#" method="GET">
                <div class="input">Buscar productos,marcas</div>
                <div id="panel" class="panel"></div>
                <div class="submit"><i class="fa fa-search"></i></div>
            </div>
            <p class="copy-header"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito
            </p>
        </div>
        <nav class="site-login">
            <ul class="left-navbar">
                <li><a href="Ofertas">Ofertas</a></li>
                <li><a href="Tiendas Oficiales">Tiendas Oficiales</a></li>
                <li><a href="Vender">Vender</a></li>
                <li><a href="Ayuda">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="register">Crea tu cuenta</a><i class="fas fa-id-card"></i></li>
                <li><a href="login">Ingresa</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="Mis compras">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
        <div id="menu" class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <section class="banner">

        <img width="100%" heigth="80%" src="./images/img-home-banner.jpg " alt="banner de ofertas">

    </section>

    <main>

        <section class="Ultima visita">
            <h3 class="titulares">basado en su ultima visita</h3>
            <div class="productos">


                <article>
                    <img src="./images/img-cafetera-moulinex.jpg" alt="Cafetera" class="imagen-producto">
                    <div class="detalle-producto">
                        <i id="envio" class="fas fa-truck"></i>
                        <p class="precio"> $6.770 </p>
                        <p class="descuento"> 40% OFF</p>
                        <P class="descripcion">Cafetera Moulinex</P>
                    </div>
                </article>

                <article>
                    <img src="./images/img-macbook-pro-2019.jpg" alt="notebook" class="imagen-producto">
                    <div class="detalle-producto">
                        <i id="envio" class="fas fa-truck"></i>
                        <p class="precio"> $230.000 </p>
                        <p class="descuento"> 20% OFF</p>
                        <P class="descripcion">MacBook Pro 2019</P>
                    </div>
                </article>

                <article>
                    <img src="./images/img-samsung-galaxy-s10.jpg" alt="Movil" class="imagen-producto">
                    <div class="detalle-producto">
                        <i id="envio" class="fas fa-truck"></i>
                        <p class="precio"> $70.500 </p>
                        <p class="descuento"> 10% OFF</p>
                        <P class="descripcion">Samsung galaxy S10</P>
                    </div>
                </article>


                <article>
                    <img src="./images/img-tv-samsung-smart.jpg" alt="Televisor" class="imagen-producto">
                    <div class="detalle-producto">
                        <i id="envio" class="fas fa-truck"></i>
                        <p class="precio"> $23.200 </p>
                        <p class="descuento"> 5% OFF</p>
                        <P class="descripcion">SmartTv Samsung 43"</P>
                    </div>
                </article>
            </div>
        </section>

        <section class="ofertas">
            <h3 class="titulares">Ofertas</h3>
            <div class="productos">

                <article>
                    <img src="./images/img-cafetera-moulinex.jpg" alt="Cafetera" class="imagen-producto">
                    <div class="detalle-producto">
                        <i id="envio" class="fas fa-truck"></i>
                        <p class="precio"> $6.770 </p>
                        <p class="descuento"> 40% OFF</p>
                        <P class="descripcion">Cafetera Moulinex</P>
                    </div>
                </article>


                <article>
                    <img src="./images/img-macbook-pro-2019.jpg" alt="notebook" class="imagen-producto">
                    <div class="detalle-producto">
                        <i id="envio" class="fas fa-truck"></i>
                        <p class="precio"> $230.000 </p>
                        <p class="descuento"> 20% OFF</p>
                        <P class="descripcion">MacBook Pro 2019</P>
                    </div>
                </article>



                <article>
                    <img src="./images/img-samsung-galaxy-s10.jpg" alt="movil" class="imagen-producto">
                    <div class="detalle-producto">
                        <i id="envio" class="fas fa-truck"></i>
                        <p class="precio"> $70.500 </p>
                        <p class="descuento"> 10% OFF</p>
                        <P class="descripcion">Samsung galaxy S10</P>
                    </div>
                </article>

                <article>
                    <img src="./images/img-tv-samsung-smart.jpg" alt="Televisor" class="imagen-producto">
                    <div class="detalle-producto">
                        <i id="envio" class="fas fa-truck"></i>
                        <p class="precio"> $23.200 </p>
                        <p class="descuento"> 5% OFF</p>
                        <P class="descripcion">SmartTv Samsung 43"</P>
                    </div>
                </article>
            </div>

        </section>

    </main>

    <footer>
        <section class="servicios">
            <div class="detalles">
                <i id="iconos" class="fas fa-credit-card"></i>
                <h3><b>Pagá con tarjeta o en efectivo</b></h3>
                <p> Pagá Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>

            <div class="detalles">
                <i id="iconos" class="fas fa-gift"></i>
                <h3><b>Envío gratis desde $ 2.500</b></h3>
                <p> por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="detalles">
                <i id="iconos" class="fas fa-user-shield"></i>
                <h3><b>Seguidad, de princicio a fin</b></h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>

        </section>
        <p class="end"> © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>

</body>

</html>