<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>Registro</title>
</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <div class="logo">
                <img src="./images/logo-mercado-liebre.svg" alt="">
            </div>
            <p class="copy-header"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito
            </p>
        </div>
        <nav class="site-login">
            <ul class="left-navbar">
                <li><a href="Ofertas">Ofertas</a></li>
                <li><a href="Tiendas Oficiales">Tiendas Oficiales</a></li>
                <li><a href="Vender">Vender</a></li>
                <li><a href="Ayuda">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="register">Crea tu cuenta</a><i class="fas fa-id-card"></i></li>
                <li><a href="login">Ingresa</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="Mis compras">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
    </header>
    <main>
        
        <p class="detalles">
            <input type="text" name="Usuario" placeholder="Nombre de Usuario">
        </p>
        <p class="detalles">
            <input type="password" name="password" placeholder="Contraseña">
        </p>
        <p class="detalles">
            <button type="submit">Enviar</button>
        </p>
    </main>
    <footer>
        <section class="servicios">
            <div class="detalles">
                <i id="iconos" class="fas fa-credit-card"></i>
                <h3><b>Pagá con tarjeta o en efectivo</b></h3>
                <p> Pagá Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>

            <div class="detalles">
                <i id="iconos" class="fas fa-gift"></i>
                <h3><b>Envío gratis desde $ 2.500</b></h3>
                <p> por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="detalles">
                <i id="iconos" class="fas fa-user-shield"></i>
                <h3><b>Seguidad, de princicio a fin</b></h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>

        </section>
        <p class="end"> © 1999-2020 MercadoLiebre S.R.L.</p>
       
    </footer>
</body>

</html>